/*Space so it doesn't look uncomfortable*/

body{background-color: #f7edf0;}

table.tableInfo{
    width: 100%;
    border: 2px solid;
    border-collapse: collapse;
    border-color: #000;
}
table.tableInfo th{
    width: 200px;
}
table.tableInfo th, td{
    border: 2px solid;
    border-collapse: collapse;
    border-color: #000;
    font-family: 'Gill Sans', sans-serif;
}
table.tableInfo td{
    padding: 5px;
    text-align: center;
    font-size: 14px;
    color: #1c7c54;
}


a:link, a:visited{
    background-color: transparent;
    color: #000;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Gill Sans', sans-serif;
}
a:hover, a:active{
    background-color: #73e2a7;
}

table.tableLinks{
    width: 100%;
    border: 0px;
    padding: 5px;
}

#GabrielPhoto {
    width: 200px;
    height: auto;
}

#CadencePhoto {
    width: 200px;
    height: auto;
}