/*Space so it doesn't look uncomfortable*/

body {
  background-color: whitesmoke;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Nova Square";
}

.aboutP {
  padding: 20px;
  color: #26262c;
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  text-align: center;
  color: #26262c;
  padding-top: 20px;
  font-size: 30px;
  padding-bottom: 0;
  padding-left: 5%;
  padding-right: 5%;
}

.introBlock {
  background-color: #dadae6;
}

a:link,
a:visited {
  background-color: transparent;
  color: #3e1e19;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

table.tableInfo {
  width: 100%;
  border: 2px solid;
  border-collapse: collapse;
  border-color: #2f2f27;
  color:#2f2f27;
}
table.tableInfo th {
  width: 200px;
}
table.tableInfo th,
td {
  border: 2px solid;
  border-collapse: collapse;
  border-color: #2f2f27;
  font-family: "Nova Square";
}
table.tableInfo td {
  padding: 5px;
  text-align: center;
  font-size: 14px;
}

#GabrielPhoto {
  width: 200px;
  height: auto;
}

#CadencePhoto {
  width: 200px;
  height: auto;
}

#LiamPhoto {
  width: 200px;
  height: auto;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #57777e; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #c9e1f8;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 400px){
  table{
    width: 100%;
  }
  table img {
    max-width: 100%;
    height: auto;
  }
}

.nav div {
  height: 4px;
  background-color: #46201a;
  margin: 6px 0;
  border-radius: 20px;
  transition: 0.3s;
}

.nav {
  width: 34px;
  display: block;
  margin: len 0 0 len;
}

.one {
  width: 34px;
}

.two {
  width: 19px;
}

.three {
  width: 27px;
}

.nav:hover div {
  width: 34px;
}

#logo {
  height: 75px;
}

.logoMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 11px;
  box-shadow: 0px 3px 2px -2px #3E1E19;
}

.gWText {
  text-align: center;
}

.gWText img {
  width: 200px;
  box-shadow: 2px 2px 4px #26262c;
}

.photoI {
  align-self: center;
  width: 100%;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #191F24;
  color: #DBEBFA;
  padding: 10px;
  text-align: center;
}