header {
  text-align: center;
  font-family: "Nova Square";
  font-size: 40px;
}

p {
  text-align: center;
  font-family: "Nova Square";
}

table.tableLinks {
  width: 100%;
  border: 0px;
  padding: 5px;
}

#logo {
  width: 125px;
}
