body {
  background-color: whitesmoke;
}

.nav div {
  height: 4px;
  background-color: #46201a;
  margin: 6px 0;
  border-radius: 20px;
  transition: 0.3s;
}

.nav {
  width: 34px;
  display: block;
  margin: len 0 0 len;
}

.one {
  width: 34px;
}

.two {
  width: 19px;
}

.three {
  width: 27px;
}

.nav:hover div {
  width: 34px;
}

#logo {
  height: 75px;
}

.logoMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 11px;
  box-shadow: 0px 3px 2px -2px #191f24;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Nova Square";
}

a:link,
a:visited {
  background-color: transparent;
  color: #191f24;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

h3 {
  text-align: center;
  font-family: "Nova Square";
  font-size: 30px;
  color: #191f24;
}

.long {
  text-align: center;
  font-family: "Nova Square";
  color: #191f24;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.SCa {
  text-decoration: none;
  padding: 0.5rem;
  border: 1px solid #191f24;
  background-color: #dbebfa;
}

.OTSa {
  text-decoration: none;
  padding: 0.5rem;
  border: 1px solid #191f24;
  background-color: #dbebfa;
}

.ResTa {
  text-decoration: none;
  padding: 0.5rem;
  border: 1px solid #191f24;
  background-color: #dbebfa;
  margin-top: 5px;
}

.ComTa {
  text-decoration: none;
  padding: 0.5rem;
  border: 1px solid #191f24;
  background-color: #dbebfa;
  margin-top: 5px;
}

.MTa {
  text-decoration: none;
  padding: 0.5rem;
  border: 1px solid #191f24;
  background-color: #dbebfa;
  margin-top: 5px;
}

.colorBlock {
  border-bottom: 1px solid ;
  border-top: 1px solid ;
  border-color: #020A12;
  background-color: #dbebfa;
  text-align: center;
  padding: 10px;
}

.buttons {
  text-align: center;
  background-color: #dbebfa;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #57777e; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #c9e1f8;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #191f24;
  color: #dbebfa;
  padding: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.homeI {
  position: relative;
  text-align: center;
  color: #191f24;
  margin-top: 1.5px;
}



.centeredT {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-style: bold;
}

.centeredB {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}

@media screen and (max-width: 400px) {
  .centeredT {
    font-size: 14px; /* Adjust this value as needed */
  }

  .centeredB {
    font-size: 10px; /* Adjust this value as needed */
  }
}

/* Popup container */
.SCa {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.SCa .servicePop {
  visibility: hidden;
  width: 200px;
  background-color: #4B4444;
  color: #ECEAEA;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 40%;
  margin-left: -80px;
}

/* Popup arrow */
.SCa .servicePop::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 40%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #4B4444 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.SCa .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Popup container */
.OTSa {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.OTSa .onePop {
  visibility: hidden;
  width: 200px;
  background-color: #4B4444;
  color: #ECEAEA;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 40%;
  margin-left: -80px;
}

/* Popup arrow */
.OTSa .onePop::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #4B4444 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.OTSa .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Popup container */
.ResTa {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.ResTa .resPop {
  visibility: hidden;
  width: 200px;
  background-color: #4B4444;
  color: #ECEAEA;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 40%;
  margin-left: -80px;
}

/* Popup arrow */
.ResTa .resPop::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #4B4444 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.ResTa .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Popup container */
.ComTa {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.ComTa .comPop {
  visibility: hidden;
  width: 200px;
  background-color: #4B4444;
  color: #ECEAEA;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 40%;
  margin-left: -80px;
}

/* Popup arrow */
.ComTa .comPop::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #4B4444 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.ComTa .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Popup container */
.MTa {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.MTa .mosPop {
  visibility: hidden;
  width: 200px;
  background-color: #4B4444;
  color: #ECEAEA;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 40%;
  margin-left: -80px;
}

/* Popup arrow */
.MTa .mosPop::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 60%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #4B4444 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.MTa .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a span{
  position: relative;
}