body {
  background-color: whitesmoke;
}

a:link,
a:visited {
  background-color: transparent;
  color: #3e1e19;
  padding: 62.5% 93.75%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Nova Square";
}

table.tableLinks {
  width: 100%;
  border: 0%;
  padding: 25%;
}

#logo {
  width: 781.25%;
}

h1 {
  text-align: center;
  font-family: "Nova Square";
  font-size: 250%;
  color: #3e1e19;
}

h2 {
  text-align: center;
  font-family: "Nova Square";
  font-size: 125%;
  color: #3e1e19;
}

h3 {
  text-align: center;
  font-family: "Nova Square";
  font-size: 187.5%;
  color: #3e1e19;
}

p {
  text-align: center;
  font-family: "Nova Square";
  color: #3e1e19;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.SCa{
  text-decoration: none;
  padding: .5rem;
  border: 6.25% solid #3e1e19;
  background-color: #7EA0B7;
}

.OTSa{
  text-decoration: none;
  padding: .5rem;
  border: 6.25% solid #3e1e19;
  background-color: #7EA0B7;

}

.ResTa{
  text-decoration: none;
  padding: .5rem;
  border: 6.25% solid #3e1e19;
  background-color: #7EA0B7;
  margin-top: 31.25%;

}

.ComTa{
  text-decoration: none;
  padding: .5rem;
  border: 6.25% solid #3e1e19;
  background-color: #7EA0B7;
  margin-top: 31.25%;

}

.MTa{
  text-decoration: none;
  padding: .5rem;
  border: 6.25% solid #3e1e19;
  background-color: #7EA0B7;
  margin-top: 31.25%;
}

.colorBlock {
  border: 0px;
  background-color: #DBEBFA;
  text-align: center;
  padding: 0px;
}

.buttons {
  text-align: center;
}