body {
  background-color: white;
}

a:link,
a:visited {
  background-color: transparent;
  color: #3e1e19;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Nova Square";
}

table.tableLinks {
  width: 100%;
  border: 0px;
  padding: 5px;
}

#logo {
  width: 125px;
}

h1 {
  text-align: center;
  font-family: "Nova Square";
  font-size: 40px;
  color: #3e1e19;
}

h2 {
  text-align: center;
  font-family: "Nova Square";
  font-size: 40px;
  color: #3e1e19;
}

h3 {
  text-align: center;
  font-family: "Nova Square";
  font-size: 30px;
  color: #3e1e19;
}

p {
  text-align: center;
  font-family: "Nova Square";
  color: #3e1e19;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.SCa{
  text-decoration: none;
  padding: 1rem;
  border: 1px solid #3e1e19;
  background-color: antiquewhite;
}

.OTSa{
  text-decoration: none;
  padding: 1rem;
  border: 1px solid #3e1e19;
  background-color: antiquewhite;

}

.ResTa{
  text-decoration: none;
  padding: 1rem;
  border: 1px solid #3e1e19;
  background-color: antiquewhite;

}

.ComTa{
  text-decoration: none;
  padding: 1rem;
  border: 1px solid #3e1e19;
  background-color: antiquewhite;

}

.MTa{
  text-decoration: none;
  padding: 1rem;
  border: 1px solid #3e1e19;
  background-color: antiquewhite;

}

.colorBlock {
  border: 0px;
  background-color: lightsteelblue;
  text-align: center;
}

.buttons {
  text-align: center;
}